<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyy.mapper.LogsDao">
		<!-- 用户登录日志插入 -->
		<insert id="insertLogs" parameterType="map">
			INSERT INTO E_LOGIN_LOG(SESSION_ID,STATE,USER_NAME,USER_ID,CLIENT_IP,LOGIN_DATE,LOGINOUT_DATE,CLIENT_BROWSOR) 
			values(#{session_id},#{state},#{user_name},#{user_id},#{client_ip},sysdate,#{loginout_date},#{client_browsor})
		</insert>
		<!-- 用户登出日志时间记录 -->
		<update id="insertLogoutLogs" parameterType="String">
			update e_login_log t set t.state = '0', t.loginout_date = sysdate where t.session_id = #{session_id}
		</update>
</mapper>
